# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

**/node_modules
**/coverage/*
stage-artifacts

**/.serverless/*
**/.webpack/*

**/npm-debug.log
**/offline.parameters
**/.scannerwork/*
**/devops/logs/*
**/yarn-error.log

**/terraform/.terraform
.eslintcache

.env
package-lock.json
yarn.lock